body {
  background:#EEE0CB;
  text-align: center;
  color:black;
  width: 100%;
  padding-bottom: 100px;
  font-family: 'Frank Ruhl Libre', serif;
}

.bg-img {
  background-image: url(clothes.jpg);
  min-height: 380px;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
}

.nav {
  overflow: auto;
  background-color: #839788;
  display: inline-block;
  margin: 120px;
  box-shadow: 1px 1px 15px black;
}

.nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 45px;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover {
  background-color: #BAA898;
  color: black;
}

.ul {
  list-style-type: none;
}

.li {
  width: 85%;
  float: center;
  margin: 20px auto;
  font-size: 25px;
}

a {color: Black;
text-decoration: none;
font-size: 28px;
font-weight:bold;
font-style: italic;
}

nav a:hover, p a:hover {
  color: white;
  background-COLOR: #EEE0CB;
}

h1 {
  font-size: 40px;
  font-family: 'PT Sans', sans-serif;
}

h2 {
  font-size: 28px;
  font-family: 'PT Sans', sans-serif;
}

h1, h2 {
  font-weight: bold;
}

p {
  font-size: 25px;
  margin: 20px auto;
  font-family: 'Frank Ruhl Libre', serif;
}

img {
  border: 0;
  margin: 50px auto;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
}

section {
  color: black;
  background: #839788;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 40px 40px;
  box-shadow: 1px 1px 15px Black;
  text-align: center;
}

.timeline {
    position: relative;
    margin: 0 auto;
    width: 75%;

}

.timeline ul li {
    margin-bottom: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.point {
    min-width: 20px;
    height: 20px;
    background-color: #839788;
    border-radius: 100%;
    z-index: 2;
    border: 3px white solid;
    position: relative;
    left: 1px;
}

.timeline ul li .content {
    width: 50%;
    padding: 0 20px;
}

.timeline ul li:nth-child(odd) .content {
    padding-left: 0;
}

.timeline ul li:nth-child(odd) .date {
    padding-right: 0;
}

.timeline ul li:nth-child(even) .content {
    padding-right: 0;
}

.timeline ul li:nth-child(even) .date {
    padding-left: 0;
}

.timeline ul li .date {
    width: 50%;
    padding: 0 20px;
    font-weight: normal;
}

.timeline ul li .date h4 {
    background-color: white;
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
}

.timeline ul li .content h3 {
    padding: 10px 20px;
    background-color: #839788;
    margin-bottom: 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.timeline ul li .content p {
    padding: 10px 20px;
    background-color: white;
    margin-top: 0;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.timeline ul li:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .date h4 {
    float: right
}

.timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 50%;
    background-color: #839788;
}

@media screen and (max-width: 500px) {
  li {
    width: auto;
    float: none;
    text-align: center;
  }
  .nav a {
    align-items: center;
    text-align: center;
    width: 70%;
}

@media (max-width: 600px) {
    .point {
        min-width: 15px;
        height: 15px;
    }

    html, body {
        font-size: 15px;
    }

}

@media (max-width: 650px) {
    html, body {
        font-size: 14px;
    }

    .point {
        min-width: 12px;
        height: 12px;
    }

}

@media (max-width: 450px) {
    html, body {
        font-size: 10px;
    }

    p {
        padding: 10px !important;
    }
}
